/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
/* Colors Theme */

:root {
    /* GitBook Colors */
    --gb-c-bluegray-lighter: #a0b3c4;
    --gb-c-bluegray-light: #8899a8;
    --gb-c-blue: #346ddb;
    --gb-c-blue-dark: #244a98;
    --gb-c-blue-darker: #183267;
    /* GitBook Colors */

    --vp-c-brand-1: var(--gb-c-blue);
    --vp-c-brand-2: var(--gb-c-blue-dark);
    --vp-c-brand-3: var(--gb-c-blue);
    --vp-c-brand-soft: var(--gb-c-bluegray-lighter);
}

/* Text Theme */
.vp-doc a {
    text-decoration: none;
}

/* CheckList Customization */
ul.task-list {
    padding-left: 0;
}

ul.task-list>.task-list-item {
    list-style-type: none;
}

ul.task-list>.task-list-item>input {
    vertical-align: text-top;
}

ul.task-list>.task-list-item>label {
    margin-left: 3px;
}

/* no line break for badge image */
p>a>img[alt^="Badge:"] {
    display: inline-block;
    margin-right: 3px;
}

/* image */
.main figure img {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.8rem var(--vp-c-default-soft);
    margin-bottom: 0.8rem;
    margin-left: auto;
    margin-right: auto;
}

.dark .main figure img {
    border: 0.1rem solid var(--vp-c-neutral);
    box-shadow: none;
}

figure>figcaption {
    text-align: center;
    color: #8899a8;
    font-size: 12px;
    font-weight: 400;
}
